/* Author: Jack Sanders */

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #097969;
    height: 150px;
    padding: 16px 0 0 0;
}

.home-sub-title {
    background-color: #097969;
    height: 70px;
    padding: 16px 0 0 0;
}

.page-top {
    background-color: #097969; 
    text-align: center;
    height: 80px;
}

.nav-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nav-bar {
    display: inline;
    margin: 0 3rem;
    justify-content: space-around;
}

.nav-link {
    text-decoration: none;
    color: #097969;
}

.header-title {
    font-size: 48px;
    color: #FFFFFF;
    font-weight:bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.sub-header-title {
    font-size: 30px;
    color: #FFFFFF;
    font-weight:bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}


.home-footer {
    background-color: #097969;
    height: 70px;
}

.Tnumber-box {
    float: left;
    width: 50%; 
}

.Tnumber-innnerbox {
    border: 2px solid black; 
    margin: 10px;
}

.Tnumber-title {
    text-align: center;
}

.Tnumber {
    text-align: center;
}

.plot-title {
    text-align: center;
}

.plot-innerbox{
    border: 2px solid black;
    margin: 10px;
}

.-box {
    float: left;
    width: 50%
}

.row {
    height: 960px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}