/* Author: Jack Sanders */

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #097969;
    height: 150px;
    padding: 16px 0 0 0;
}

.home-sub-title {
    background-color: #097969;
    height: 70px;
    padding: 16px 0 0 0;
}

.page-top {
    background-color: #097969; 
    text-align: center;
    height: 80px;
}

.nav-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nav-bar {
    display: inline;
    margin: 0 3rem;
    justify-content: space-around;
}

.nav-link {
    text-decoration: none;
    color: #097969;
}

.header-title {
    font-size: 48px;
    color: #FFFFFF;
    font-weight:bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.sub-header-title {
    font-size: 30px;
    color: #FFFFFF;
    font-weight:bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}


.home-footer {
    color: #097969;
    height: 70px;
}